@use "sass:color";

$red: #d32f2f;

.success-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  h1 { margin: 20px 0; font-size: 32px; font-weight: 900; }
  
  .btn-back {
    margin-top: 30px;
    background: $red;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: 700;
    &:hover { background: color.adjust($red, $lightness: -10%); }
  }
}