@import "tailwindcss";

<<<<<<< HEAD
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
=======
@custom-variant dark (&:is(.dark *));
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55

/* Fonts */
@font-face {
  font-family: light;
<<<<<<< HEAD
  src: url(/fonts/Jost-Light.ttf);
=======
  src: url(/fonts/Figtree-Light.ttf);
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

@font-face {
  font-family: regular;
<<<<<<< HEAD
  src: url(/fonts/Jost-Regular.ttf);
=======
  src: url(/fonts/Figtree-Regular.ttf);
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

@font-face {
  font-family: bold;
<<<<<<< HEAD
  src: url(/fonts/Jost-Bold.ttf);
=======
  src: url(/fonts/Figtree-Bold.ttf);
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

@font-face {
  font-family: medium;
<<<<<<< HEAD
  src: url(/fonts/Jost-Medium.ttf);
=======
  src: url(/fonts/Figtree-Medium.ttf);
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

@font-face {
  font-family: SemiBold;
<<<<<<< HEAD
  src: url(/fonts/Jost-SemiBold.ttf);
=======
  src: url(/fonts/Figtree-SemiBold.ttf);
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

@font-face {
  font-family: italic;
<<<<<<< HEAD
  src: url(/fonts/Jost-Italic.ttf);
=======
  src: url(/fonts/Figtree-Italic.ttf);
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

@font-face {
  font-family: regular_poppins;
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins_medium;
  src: url(/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: popinns_semibold;
  src: url(/fonts/Poppins-SemiBold.ttf);
}

<<<<<<< HEAD
=======

/* Theme Variables */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* Tailwind Base Layer */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Medium;
}
<<<<<<< HEAD


img {
  width: 100%;

  object-fit: cover;
  height: 100%;
  cursor: pointer;
=======
.grid{
      display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 37px;
    align-items: self-start;
}
body {
  background: #fefefe;
}
hr{
  color: #ffeef2b0;
}
img {
  width: 100%;
  object-fit: cover;
  height: 100%;
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

a {
  text-decoration: none;
<<<<<<< HEAD
  color: #ffffffee;
=======
  color: inherit;
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

/* Layout & Flex Utilities */
.flex {
  display: flex;
<<<<<<< HEAD
=======
  align-items: center;
  justify-content: center;
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexstart {
  display: flex;
<<<<<<< HEAD
  align-items: self-start;
=======
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
<<<<<<< HEAD
  justify-content: center;

}

.top {
  position: relative;
  top: -13px;
  left: -9px;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;

}
.contain{
  max-width: 1500px;
  margin: 0 auto;
}

header {
  padding-left: 10px;
  padding-right: 10px;
=======
  justify-content: space-between;
  gap: 10px;
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header nav ul .flex li {
  margin: 0 15px;
  font-size: 16px;
  font-weight: 500;
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

/* Buttons */
.btn {
  cursor: pointer;
<<<<<<< HEAD
=======
  padding: 3px 20px;
  border-radius: 30px;
}

/* Typography */
h1 {
  font-weight: bolder;
  font-size: 50px;
  line-height: 120%;

  font-family: bold;
}
h1,h2,h3,h4,h5,h6{
  line-height: 120%;
}

h2,
h3 {
  font-family: SemiBold;
  font-size: 45px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
}

h4 {
  font-family: SemiBold;
  font-size: 22px;
  font-weight: 600;
}

h5 {
  font-weight: 500;
  font-family: poppins_medium;
  font-size: 14px;
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
}

label {
  font-family: popinns_semibold;
  font-size: 14px;
  font-weight: 600;
}

strong {
  font-family: bold;
  font-size: 50px;
  font-weight: 700;
  color: #FA0201;
}
<<<<<<< HEAD

.flexcol {
  display: flex;
  justify-content: start;
  flex-direction: column;
}



li {
  list-style: none;
}


h5,
.ticker-link {
  font-size: 15px;
  line-height: 1.5;
  font-style: normal;
  font-family: medium;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0;
}

::placeholder {
  color: #4a4a4abb;
  font-family: regular;
  font-weight: 500;
  font-size: 17px;
}
h1{
  font-size: 30px;
  font-family: bold;

}
.btn{
  width: fit-content;
  padding: 16px 3rem;
  a{
    font-size: 18px;
  font-family: bold;
  }
  background-color: #000;
  
  border-radius: 30px;

}
=======
p{
  font-size: 16px;
  font-weight: 400;
  font-family: regular;
  line-height: 120%;
}
.flexgap{
  display: flex;
  justify-content: start;
  gap: 40px;
  flex-direction: column;
}

.soft-rounded-input {
  width: 150px;
  font-size: 17px;
  color: #555;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.soft-rounded-input:focus {
  outline: none;
}

/* Calendar */
.soft-rounded-calendar {
  border-radius: 20px !important;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  overflow: hidden;
}

.soft-rounded-calendar .react-datepicker__header {
  background-color: #f0f8ff !important;
  border-bottom: 1px solid #e0f0ff !important;
  border-radius: 20px 20px 0 0;
  padding-top: 15px;
}

.soft-rounded-calendar .react-datepicker__day-name {
  color: #777;
}

.soft-rounded-calendar .react-datepicker__day {
  border-radius: 50%;
  width: 2.5rem;
  line-height: 2.5rem;
  margin: 0.2rem;
  transition: all 0.2s;
  color: #444;
}

.soft-rounded-calendar .react-datepicker__day:hover {
  background-color: #ffeef2 !important;
  color: #444 !important;
}

.soft-rounded-calendar .react-datepicker__day--selected {
  background-color: rgb(62, 65, 148) !important;
  color: white !important;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.soft-rounded-calendar .react-datepicker__day--outside-month {
  color: #ccc !important;
}

li{
  list-style: none;
}

h5{
  font-family: regular;
  font-weight: 400;
  font-size: 17px;
}
>>>>>>> 9f7322267dc4f0f5eeff189603527f07cbc0ff55
